nameOverride: "activitysakhi"
fullnameOverride: "activitysakhi"

replicaCount: 1

image:
  repository: dubea/sakhi-api-service-main-sakhi-api
  tag: "main"
  pullPolicy: IfNotPresent
  pullSecrets: []

log_level: INFO
telemetry_url: "http://telemetry-service:9001"
telemetry_log_enabled: "false"

global:
  openai_api_base: ""
  openai_api_version: ""
  openai_type: ""
  openai_api_key: ""
  gpt_model: ""
  bhasini_endpoint_url: ""
  bhasini_api_key: ""
  bucket_endpoint_url: ""
  bucket_region_name: ""
  bucket_name: ""
  bucket_secret_key: ""
  bucket_access_key: ""
  marqo_url: ""
  env: ""
gcp_config_path: "/config/gcp.json"
config_ini_path: "/config/config.ini"
telemetry_endpoint_url: ""
telemetry_log_enabled: false
log_level: "INFO"

podAnnotations: {}
commonAnnotations: 
  reloader.stakater.com/auto: "true"

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1001
  fsGroup: 1001

securityContext: {}
  # readOnlyRootFilesystem: false
  # capabilities:
  #   drop:
  #   - ALL

service:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: 8080

ingress:
  enabled: false
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
      - /

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80

# livenessProbe: {}
# Example:
livenessProbe:
  httpGet:
    path: "/health"
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5

# readinessProbe: {}
# Example:
readinessProbe:
  httpGet:
    path: "/health"
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5

nodeSelector: {}
tolerations: []
affinity: {}

configmap:
  enabled: true
  mountPath: /config

serviceAccount:
  create: true
  name: ""

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s
  labels: {} # additional labels e.g. release: prometheus
  honorLabels: true
  jobLabel: "app.kubernetes.io/name"

# Example values.yaml structure
initContainers: {}
  # - name: init-myservice
  #   image: busybox:1.28
  #   command: ['sh', '-c', "until nslookup kubernetes.$(cat /var/run/secrets/kubernetes.io/serviceaccount/namespace).svc.cluster.local; do echo waiting for myservice; sleep 2; done"]

sidecars: {}
  # - name: log-reader # Sidecar container
  #   image: busybox # Use another busybox image
  #   command: ["/bin/sh"] # Override the default command
  #   args: ["-c", "tail -f /var/log/app.log"] # Run a shell script that tails the log file

opa:
  enabled: false
